<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<div class="trainers-list">
  <% for (let i = 0; i < trainers.length; i++) { %>
    <div class="trainers">
      <h4><a class="orange-text lighten-1" href="/trainers/<%= trainers[i].id %>"><%= trainers[i].name %></a></h4>
    </div>
  <% } %>
</div>
